.policy {
    margin: 0 5rem;
}
.policy p,
.policy ul li {
    text-align: justify;
    line-height: 25px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #515151;
}
.policy ul {
    list-style-type: square;
}
@media screen and (max-width:400px) {
    .policy {
        margin: 0 1.5rem;
    }
}
