.intern_detail {
    background-color: white;
  padding: 1rem 0;
}
.detail_box {
    position: relative;
    overflow: hidden;
}
.detail_box .detail {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 1rem;
    gap: 10px;
    height: 300px;
    align-items: center;
}
.detail_box:nth-child(1) {
    background-image: url(../../../../public/images/Internship/internship-1.jpg);
}
.detail_box:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.92;
    background-color: rgb(0, 80, 141);
}
.detail_box:nth-child(2) {
    background-image: url(../../../../public/images/Internship/internship-3.jpg);

}
.detail_box:nth-child(2)  .detail{
    flex-direction: row-reverse;
}
.detail_box:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.92;
    background-color: rgb(0, 161, 40);
}
.detail_box .detail .detail_img, .detail_box .detail .detail_text {
    position: relative;
    z-index: 1;
}
.detail_box .detail .detail_img {
 border: 3px solid white; 
 min-width: 90px;   
}
.detail_box .detail .detail_text {
    color: white;
}


@media screen and (max-width:700px) {
    .detail_box .detail {
        height: 400px;
    } 
    .detail_box .detail .detail_text {
        font-size: 0.9rem;
       }
}
@media screen and (max-width:400px) {
    .detail_box .detail {
        height: 500px;
        flex-direction: column !important;
    } 

}
