
.testimonial_carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 70%;
    margin: 0.6rem auto;
    padding: 0.4rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.288);
    background-color: white;
}
.testimonial_carousel i {
    position: absolute;
    top: 5px;
    left: 50%;
    translate: -50%;
}
.testimonial_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.testimonial_img {
    border-radius: 50%;
    overflow: hidden;
}
.testimonial_text {
    margin-top: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color:  #515151;
}

@media screen and (max-width:300px) {
    .testimonial_carousel {
        height: 360px;
    }
  
  }